Atmosphere_models/
!Atmosphere_models/Transmission-HD189733-CO-H2O.txt


Notebooks/
Input_files/PhoenixGridSpecInt/
Input_files/PhoenixGrid/*
Input_files /NexaComposite
Simulations/
Comparison_Ansgars_CC/
__pycache__